.navbar-inverse .navbar-nav > .active > a,
 .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus,
  .dropdown-menu > li > a:hover,
   .dropdown-menu > li > a:focus,
   .carousel-indicators .active,
  
  {
   background-color: #e417cd
  }
  .navbar-inverse .navbar-brand span,
  .our-team  i,
  .about span,
  .footer h3,
  .footer .copeyright span,
  .feature .feat span.glyphicon,
  .testimonials .carousel-inner span,
  .option-box  .gear-cheak

{
  color:#e417cd

}

.dropdown-menu
{

border-top:3px solid #e417cd
}
.testimonials .carousel-indicators li.active,
.option-box  .color-option
{
border:3px solid #e417cd
}
